*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
        color: #2f3033;
        font-family: Mark,Avenir,Helvetica,Arial,sans-serif;
        font-size: 16px;
        line-height: 1.6;
        -webkit-font-smoothing: antialiased;
}

.navbar{
    overflow: hidden;
    height: 60px;
    border-bottom: #606162 solid 1px;
}

.navbar a{
    float: left;
    display: block;
    color: #676d73;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
display: flex;
    justify-content: flex-end;
}

.navbar a:hover{
    color: #000;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.8 ;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background: #111;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #2f3033;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    color: black;
}

body > nav > ul > li:nth-child(2) > a:hover,
body > nav > ul > li:nth-child(3) > a:hover,
body > nav > ul > li:nth-child(4) > a:hover{
    border-bottom: 1px solid #606162 ;
}

body > nav > ul > li:nth-child(2) > a:hover{
    border-bottom: 1px solid #606162 ;
}


.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

/*Main menu */

#main{
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

#main h1{
    text-align: center;
}

.container{
    width: 100%;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}

#main .results{
    margin: 20px 0;
    border-bottom: 1px solid #2f3033;
    padding: 20px;
}


/* Media Query */ 
@media(max-width: 568px){
    .navbar-nav{
        display: none;
    }
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1026px) {
    .container{ padding: 0 20px;
      max-width: 740px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

/* @media(min-width: 568px){
    .open-slide{
        display:none;
    }
} */